    <img src="https://techbykris.com/wp-content/uploads/2024/08/kwizzy-logo.png" width="250px"/>
  <h1> Hello {{{username}}}</h1>
  <p>This is an example of a basic authentication REST API. There have been no security considerations
    aside from hashing the password on the server. <br> This system will eventually be used in a full stack project, Kwizzy. 
    It is planned on being a drag/drop/WYSIWYG quiz/form builder.
  </p>
  <div id="menu"></div>
  <main>
    <div class="container grid kit">
      <button class="item kit-tool" id="rad" data-tooltype="radio" draggable="true"><p class="label">Radio</p></button>
      <button class="item kit-tool" data-tooltype="checkbox" draggable="true"><p class="label">Checkbox</p></button>
      <button class="item kit-tool" data-tooltype="textarea" draggable="true"><p class="label">Text</p></button>
    </div>

    <div class="container main-area">
        <form id="builder">
            <input id="kwizzy-title" type="text" value="Create a new Kwizzy....." contenteditable="true">
            form
        </form>
        <button type="submit" id="save-kwizzy">Save Kwizzy</button>
    </div>
  </main>
<script src="/index.js"></script>



