<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Kwizzy!!</title>

   <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" type="text/css" /> 
</head>

<body>

    <img src="https://techbykris.com/wp-content/uploads/2024/08/kwizzy-logo.png" width="250px"/>
  <h1> Kwizzy by Krissy</h1>
  <p>This is an example of a basic authentication REST API. There have been no security considerations
    aside from hashing the password on the server. <br> This system will eventually be used in a full stack project, Kwizzy. 
    It is planned on being a drag/drop/WYSIWYG quiz/form builder.
  </p>
  <form class="authentication" method="post" action="/signup" id="signup">
    <h1 id="result">Login or sign up</h1>
    Credentials:
    <input id="email" name="email" placeholder="krisb1220@gmail.com" required="required" type="email" value="krisb1220@gmail.com"> 
    <input id="password" name="password" placeholder="password" required="required" type="password" value="c"/>
    <input type="checkbox" id="login-type" />Signup?
    <button type="submit" id="sub">Login</button>
  </form>

  <div id="menu"></div>
  <main>
    <div class="container grid kit">
      <button class="item kit-tool" id="rad" data-tooltype="radio" draggable="true"><p class="label">Radio</p></button>
      <button class="item kit-tool" data-tooltype="checkbox" draggable="true"><p class="label">Checkbox</p></button>
      <button class="item kit-tool" data-tooltype="textarea" draggable="true"><p class="label">Text</p></button>
    </div>

    <div class="container main-area">
        <form id="builder">
            <input id="kwizzy-title" type="text" value="Create a new Kwizzy....." contenteditable="true">
            form
        </form>
        <button type="submit" id="save-kwizzy">Save Kwizzy</button>
    </div>
  </main>
</body>
<script src="/index.js"></script>

</html>


