// _colors.scss

// Red
$red-light: #ef9a9a;
$red-solid: #f44336;
$red-dark: #b71c1c;

// Orange
$orange-light: #ffcc80;
$orange-solid: #ff9800;
$orange-dark: #e65100;

// Yellow
$yellow-light: #fff59d;
$yellow-solid: #ffeb3b;
$yellow-dark: #f57f17;

// Green
$green-light: #a5d6a7;
$green-solid: #4caf50;
$green-dark: #1b5e20;

// Blue
$blue-light: #90caf9;
$blue-solid: #2196f3;
$blue-dark: #0d47a1;

// Indigo
$indigo-light: #9fa8da;
$indigo-solid: #3f51b5;
$indigo-dark: #1a237e;

// Violet
$violet-light: #ce93d8;
$violet-solid: #9c27b0;
$violet-dark: #4a148c;
